%h1.center{id: "#{@day.id}"} New day


.col-xs-offset-3.col-xs-6

  = form_tag doctor_day_create_path(@day.id), method: :patch do

    = label_tag "Date", "Дата"
    = date_field_tag "date", "", class: 'form-control'

    %br/

    = label "Times", "Время приемов"

    %br/

    #times
      = render partial: 'times'

    #new-time-btn.btn.btn-default Добавить время
    .col-xs-3= text_field "NewTime", "", class: 'form-control', id: 'new-time'


    %br/
    %br/

    = label_tag "Note", "Примечание"

    = text_area_tag "notes", "", class: 'form-control'

    %br/

    = submit_tag "Создать", class: 'btn btn-success'
