.col-xs-4.col-xs-offset-4
  = bootstrap_form_for [:admin, @doctor] do |f|
    - if @doctor.errors.any?
      #error_explanation
        %h2
          = pluralize(@doctor.errors.count, "error")
          prohibited this doctor from being saved:
        %ul
          - @doctor.errors.full_messages.each do |message|
            %li= message

    = f.text_field :email
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_area  :about
    = f.password_field :password

    = f.label :specialities
    = text_field_tag :specialities, to_string(@doctor.specialities), class: 'form-control'

    = f.label :equipment
    = text_field_tag :equipment, to_string(@doctor.equipments), class: 'form-control'

    = f.file_field :photo

    .actions
      = f.submit
