.col-xs-4.col-xs-offset-3
  = link_to 'New doctor', new_admin_doctor_path, class: 'btn btn-primary'

  - @doctors.each do |doc|
    %ul
      %li
        = doc.last_name
        = doc.email
        = image_tag doc.photo.url(:thumb)
        = link_to "X", admin_doctor_path(doc), method: :delete, class: 'btn btn-danger'
        = link_to "Edit", edit_admin_doctor_path(doc), class: 'btn btn-success'

  .pagination
    = paginate @doctors
