.col-xs-4
  %h1 Новости

  .col-xs-offset-1
    .pagination.pages
      = paginate @news, window: 2

  - @news.each do |n|
    .thumbnail
      = image_tag n.pic, size: "160x100"
      .caption
        %h3= n.title
        = n.body

  .col-xs-offset-1
    .pagination.pages
      = paginate @news, window: 2
