.container.col-xs-2.col-xs-offset-2.patient-nav
  %h1 Личный кабинет

  .list-group
    .list-group-item= link_to "Карточка", patient_notes_path
    .list-group-item= link_to "Посещения", patient_tickets_path
    .list-group-item= link_to "Статистика", patient_charts_path
    .list-group-item= link_to "Личная ифнормация", patient_info_path

  %h1 Уведомления

  - current_patient.statuses.order(id: :desc).limit(8).each do |s|
    .thumbnail
      = s.body
