= render partial: 'patient/patient_navigation'

.col-xs-4

.col-xs-2
  = image_tag @patient.photo.url, size: "290x300"
.col-xs-4
  %h3
    Имя:
    = @patient.first_name
  %h3
    Фамилия:
    = @patient.last_name
  %h3
    Должность:
    = @patient.work_position


Добавать больше инфо?

