.col-xs-8.col-xs-offset-2
  = link_to 'New patient', new_admin_patient_path, class: 'btn btn-primary'

  .col-xs-offset-4
    .pagination
      = paginate @patients

  %table.table.table-hover
    %thead
      %tr
        %th Имя
        %th Фамилия
        %th Личный номер
        %th Фото
        %th
    %tbody
    - @patients.each do |p|
      %tr
        %td= p.first_name
        %td= p.last_name
        %td= p.personal_number
        %td= image_tag p.photo.url(:thumb)
        %td
          = link_to "X", admin_patient_path(p), method: :delete, class: 'btn btn-danger'
          = link_to "Edit", edit_admin_patient_path(p), class: 'btn btn-success'

  .col-xs-offset-4
    .pagination
      = paginate @patients
