.col-xs-2.col-xs-offset-2
  .thumbnail.search-field
    %h3.center Поиск доктора
    = search_form_for @q do |f|
      = f.label "Фамилия"
      = f.search_field :last_name_cont, class: 'form-control'

      = f.label "Специальность"
      = f.search_field :specialities_title_cont, class: 'form-control'

      = f.label "Оборудование"
      = f.search_field :equipments_title_cont, class: 'form-control'

      = f.submit "Поиск", class: 'btn btn-success'

    = link_to 'Сбросить', doctors_path, class: 'btn btn-default'

#doctors.col-xs-5
  = render partial: 'doctors'
