

.container
  %h1.center Личная информация
  .col-xs-2
    = image_tag @doctor.photo.url, size: "290x300"
  .col-xs-4.col-xs-offset-1
    %h3
      %b Имя:
      = @doctor.first_name
    %h3
      %b Фамилия:
      = @doctor.last_name
    %h3
      %b Специальности:
      = to_string(@doctor.specialities)
    %h3
      %b Оборудование:
      = to_string(@doctor.equipments)
