%br


.col-xs-3
  %h4 Doctor
  .col-xs-6= text_field_tag 'search', nil, id: 'doc-search', class: 'form-control'
  %br/
  %br/
  - if @doctor || @doctors.length == 1
    - doc = @doctor || @doctors.last
    %h1= doc.first_name
  - else
    #doctors= render partial: 'doctors'

.col-xs-3
  %h4 Equipment
  .col-xs-6= text_field_tag 'search', nil, id: 'eq-search', class: 'form-control'
  %br/
  %br/
  - if @equip || @equipment.length == 1
    - eq = @equip || @equipment.last
    %h1= eq.title
  - else
    #equipment= render partial: 'equipment'

.col-xs-3
  %h4 Speciality
  .col-xs-6= text_field_tag 'search', nil, id: 'spec-search', class: 'form-control'
  %br/
  %br/
  - if @spec || @specialities.length == 1
    - spec = @spec || @specialities.last
    %h1= spec.title
  - else
    #specialities= render partial: 'specialities'

.col-xs-6
  - if doc
    .col-xs-3
      = label_tag "Выберите день"
      = date_field_tag "date", "", id: 'datepicker-ticket', class: 'form-control', doc_id: "#{doc.id}", equip_id: "#{eq.id}", spec_id: "#{spec.id}"
    #times
