%br

%h1.center Выберите нужные критерии

.container
  .col-xs-4
    %h4 Доктор
    - unless @doctor || @doctors.length == 1
      .col-xs-6= text_field_tag 'search', nil, id: 'doc-search', placeholder: 'Фамилия доктора', class: 'form-control'
      %br/
      %br/
    - if @doctor || @doctors.length == 1
      - doc = @doctor || @doctors.last
      %h1= doc.last_name
    - else
      #doctors= render partial: 'doctors'

  - unless @equipment.length == 0
    .col-xs-4
      %h4 Оборудование
      - unless @equip || @equipment.length == 1
        .col-xs-6= text_field_tag 'search', nil, id: 'eq-search', placeholder: 'Название', class: 'form-control'
        %br/
        %br/
      - if @equip || @equipment.length == 1
        - eq = @equip || @equipment.last
        %h1= eq.title
      - else
        #equipment= render partial: 'equipment'

  .col-xs-4
    %h4 Специальность
    - unless @spec || @specialities.length == 1
      .col-xs-6= text_field_tag 'search', nil, id: 'spec-search', placeholder: 'Название', class: 'form-control'
      %br/
      %br/
    - if @spec || @specialities.length == 1
      - spec = @spec || @specialities.last
      %h1= spec.title
    - else
      #specialities= render partial: 'specialities'

  - if doc && spec
    .col-xs-6
      - eq_id = eq ? eq.id : ""
      .col-xs-12
        = label_tag "Выберите день"
        = date_field_tag "date", "", id: 'datepicker-ticket', class: 'form-control', doc_id: "#{doc.id}", equip_id: "#{eq_id}", spec_id: "#{spec.id}"
      #times
