%h1 Талон на прием медико-санитарного цеха

%b Time:
= @ticket.time
%br/
%b Date:
= @ticket.date.strftime("%d.%m.%y") if @ticket.date
%br/
%b Doctor:
= @ticket.doctor.first_name + " " + @ticket.doctor.last_name
%br/
%b Cabinet:
= @ticket.cabinet
- if @ticket.equipment
  %br/
  %b Equipment:
  = @ticket.equipment.title
%br/
%b Speciality:
= @ticket.speciality.title

%br/
%br/

Талон утвержден заведующим медико-санитарного цеха:
= wicked_pdf_image_tag 'rosp.jpg', size: '200x100'
