
<!DOCTYPE html>
<html>
<head>
  <title>NewDiploma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<% if notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% elsif alert %>
  <div id="notice_wrapper">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Медико-санитарный цех", root_path, class: 'navbar-brand' %>
    </div>
    <% if current_admin %>
      <%= render partial: 'headers/admin_header' %>
    <% elsif current_doctor %>
      <%= render partial: 'headers/doctor_header' %>
    <% elsif current_patient%>
      <%= render partial: 'headers/default_header' %>
      <%= render partial: 'headers/patient_header' %>
    <% else %>
      <div class="nav navbar-nav">
        <%= link_to "Войти в систему", '/admins/sign_in', class: 'btn btn-primary btn-lg log-but' %>
      </div>
    <% end %>
  </div>
</nav>


<div class="content">
  <%= yield %>
</div>

</body>
</html>
