
<!DOCTYPE html>
<html>
<head>
  <title>NewDiploma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Медико-санитарный цех", root_path, class: 'navbar-brand' %>
    </div>
    <% if current_admin %>
      <%= render partial: 'headers/admin_header' %>
    <% elsif current_patient %>
      <%= render partial: 'headers/default_header' %>
      <%= render partial: 'headers/patient_header' %>
    <% else %>
      <div class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Войти", new_admin_session_path %>
        </li>
      </div>
    <% end %>
  </div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
